*{
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background-color: #1d1f1a;
    background-position: center;
    background-size: cover;
}
.container{
    position: relative;
    width: 550px;
    height: 450px;
    border: 2px solid rgba(255,255,255,.6);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container h2{
    font-size: 2.3rem;
    color: #3BD077;
    text-align: center;
}
.input-container{
    position: relative;
    margin: 30px 0;
    width: 100%;
    border-bottom: 2px solid #3BD077;
}
.input-container label{
    position: absolute;
    top: 50%;
    left: 35px;
    transform: translate(-50%);
    color: #3BD077;
    font-size: 1rem;
    pointer-events: none;
    transition: .6s;
    font-weight: bold;
}
input:focus ~ label,
input:valid ~ label{
    top:-5px;
}
.input-container input{
    width: 100%;
    height: 50px;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    padding: - 35px 0 5px;
    color: #3BD077;
}
.input-container i{
    position: absolute;
    color: #3BD077;
    font-size: 1.6rem;
    top:19px;
    right: 8px;
}
button{
    width: 100%;
    height: 45px;
    border-radius: 40px;
    background: #3BD077;
    border: none;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    font-size: 1rem;
    transition: .4s;
}
button:hover{
    opacity: .9s;
}